name: Build App
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  actions: read # for detecting the Github Actions environment.
  id-token: write # for creating OIDC tokens for signing.
  packages: write # for uploading attestations.
  contents: read


jobs:
  build-publish-docker:
    runs-on: ubuntu-latest
    env:
      DOCKER_REPO: llpd-docker
      IMAGE_NAME: reservation-api
      JF_URL: https://${{ vars.JF_URL }}
      DOCKER_BUILD_SUMMARY: false
      DOCKER_BUILD_RECORD_UPLOAD: false
      JFROG_CLI_LOG_LEVEL: DEBUG

    steps:
    - name: Checkout the repository
      uses: actions/checkout@v4

    - name: Setup JFrog CLI
      uses: jfrog/setup-jfrog-cli@v4
      with:
        oidc-provider-name: jfrog-github-oidc
      id: setup-cli
      env:
       JF_URL: https://${{ vars.JF_URL }}
       JF_PROJECT: llpd

    - name: Set JFrog CLI Config
      run: jf npm-config --global=true --repo-resolve=llpd-npm-dev --repo-deploy=llpd-npm-dev

    - name: build webapp
      run: |
         jf npm ci
         jf npm publish
         npm run build
    - name: Generate build timestamp
      id: date
      run: echo "date=$(date +'%Y-%m-%d-%H-%M-%S')" >> $GITHUB_OUTPUT

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Authenticate Docker
      uses: docker/login-action@v3
      with:
         registry: ${{ vars.JF_URL }}
         username: ${{ steps.setup-cli.outputs.oidc-user }}
         password: ${{ steps.setup-cli.outputs.oidc-token }}

    - name: Build the Docker image
      uses: docker/build-push-action@v6
      id: build
      with:
        push: true
        context: .
        platforms: linux/amd64,linux/arm64
        tags: ${{ vars.JF_URL }}/${{ env.DOCKER_REPO }}/${{ env.IMAGE_NAME }}:${{ steps.date.outputs.date }}
        provenance: false
        build-args: |
          NPM_AUTH_TOKEN=${{ steps.setup-cli.outputs.oidc-token }}
      
    - name: docker scan via JFrog 
      if: ${{ false }}
      run: |
           jf docker pull ${{ vars.JF_URL }}/${{ env.DOCKER_REPO }}/${{ env.IMAGE_NAME }}:latest
           jf docker scan ${{ vars.JF_URL }}/${{ env.DOCKER_REPO }}/${{ env.IMAGE_NAME }}:latest --vuln --project=${{ vars.JF_PROJECT }} --fail=false
    - name: add docker package to build via JFrog 
      run: |
           echo "${{ vars.JF_URL }}/${{ env.DOCKER_REPO }}/${{ env.IMAGE_NAME }}@${{ steps.build.outputs.digest }}" > metadata.json
           jf rt build-docker-create ${{ env.DOCKER_REPO }} --image-file metadata.json
           
    - name: publish build info to JFrog 
      run: |
           jf rt build-collect-env
           jf rt build-add-git
           jf rt build-publish
    - name: Sleep for 60 seconds
      uses: jakejarvis/wait-action@master
      with:
        time: '60s'

    - name: JFrog build scan
      run: |
            jf build-scan --vuln --fail=false
